<h2 class="sub-header">All Projects</h2>
<form>
	<input type="text" class="form-control projectSearch" placeholder="Search for a project...">
	</form>
<div class="table-responsive">
	<table class="table table-striped projectTable">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Project Name</th>
	      <th>Type</th>
	      <th>Git Repo</th>
	      <th>Last Modified</th>
	      <th>Size</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>


	  	

	  	<?php
		    foreach($dirs as $number => $dir)
			   echo  "<tr class=\"project ".$dir['type']."\" data-name=\"{$dir['name']}\">
				  <td>{$number}</td>
				  <td>
				  	<span class=\"appOnOff appOn\"><a href=\"/{$dir['name']}\">{$dir['name']}</a></span>
				  	<span class=\"appOnOff\">{$dir['name']}</span>
				  </td>
				  <td>{$dir['type']}</td>
				  <td>".(($dir['git']) ? "<a href=\"{$dir['git']['url']}\">".$dir['git']['name']."</a>":'not a git repo')."</td>
				  <td>{$dir['lastModified']}</td>
				  <td>{$dir['size']}</td>
				  <td class='statusLightCell'>
				  		<div class=\"btn-group btn-toggle\"> 
							<button data-type=\"danger\" class=\"btn btn-xs btn-danger active\">off</button>
							<button data-type=\"success\" class=\"btn btn-xs btn-default\">on</button>
						</div>
				    </td>
				</tr>";
		?>	                
	  
	  </tbody>
	</table>
	<div class="loaderWrapper">
		<img src="public/img/ajax-loader.gif" class="loaderIMG">
	</div>