<div class="col-sm-3 col-md-2 sidebar">
  <h3>Filter Projects</h3>
  <ul class="nav nav-sidebar projectFilters">
    <li data-filter="all" class="active"><a href="#">All Projects</a></li>
    <li data-filter="apache"><a href="#/apache">Apache Projects</a></li>
    <li data-filter="java"><a href="#/java">Java Projects</a></li>
    <li data-filter="javascript"><a href="#/javascript">Javascript Projects</a></li>
	  <li data-filter="node"><a href="#/node">Node Projects</a></li>
    <li data-filter="perl"><a href="#/perl">Perl Projects</a></li>
    <li data-filter="python"><a href="#/python">Python Projects</a></li>
    <li data-filter="ruby"><a href="#/ruby">Ruby Projects</a></li>
  </ul>
</div>