<div class="col-sm-3 col-md-2 sidebar">
  <h3>Filter Projects</h3>
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">All Projects</a></li>
    <li><a href="#/apache">Apache Projects</a></li>
    <li><a href="#/java">Java Projects</a></li>
    <li><a href="#/javascript">Javascript Projects</a></li>
	<li><a href="#/node">Node Projects</a></li>
    <li><a href="#/perl">Perl Projects</a></li>
    <li><a href="#/python">Python Projects</a></li>
    <li><a href="#/ruby">Ruby Projects</a></li>
  </ul>
</div>