<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Languages', 'Number of Projects']
      <?php 
        foreach($stat['languagesTotal'] as $type => $number) {
          echo ",['{$type}', {$number}]";
        }
      ?>
    ]);

    var options = {
      legend: 'none',
      chartArea:{left:'5%',top:'5%',width:'90%',height:'90%'},
      is3D: true,
      colors:['#500000', '#A8922A', '#4D349B', '004000'],
      pieSliceText: 'label'
    };

    var chart = new google.visualization.PieChart(document.getElementById('langStat'));
    chart.draw(data, options);
  }
</script>
<div class="col-xs-6 col-sm-3 placeholder">
	<div id="langStat"></div>
	<h4>Languages</h4>
    <span class="text-muted">Languages Used</span>
</div>



