<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Space', 'Used'],
      <?php 
      	if ($stat['spaceTotal']) {
          echo "['Unused', ".round(HumanSize(disk_free_space("."))*100)."]";
          echo ",['Used' ,".round($stat["spaceTotal"])."]";          
        } else {
          echo "['none', 1]";
        }
      ?>
    ]);

    var options = {
      legend: 'none',
      chartArea:{left:'5%',top:'5%',width:'90%',height:'90%'},
      is3D: true,
      colors:['#4D349B','#500000'],
      pieSliceText: 'label',
    };

    var chart = new google.visualization.PieChart(document.getElementById('sizeStat'));
    chart.draw(data, options);
  }
</script>
<div class="col-xs-6 col-sm-3 placeholder">
	<div id="sizeStat"></div>
	<h4>Space Usage</h4>
    <span class="text-muted">Total Space Used in MB</span>
</div>