<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Languages', 'Number of Projects'],
      <?php 
      	echo $stat['total'] ? "['".round($stat["total"])."', 1]" : "['none', 1]"; 
      ?>
    ]);

    var options = {
      legend: 'none',
      chartArea:{left:'5%',top:'5%',width:'90%',height:'90%'},
      is3D: true,
      colors:['#500000'],
      pieSliceText: 'label',
      pieSliceTextStyle: {
      	fontSize: 20
      		          
      }
    };

    var chart = new google.visualization.PieChart(document.getElementById('ttlStat'));
    chart.draw(data, options);
  }
</script>
<div class="col-xs-6 col-sm-3 placeholder">
	<div id="ttlStat"></div>
	<h4>Projects</h4>
	<span class="text-muted">Number of Projects</span>
</div>